<h1>Editing Recurring Event</h1>

<%= render 'form' %>


<td><a class="btn btn-primary" <%= link_to 'Show', @sub_event %></a></td>

<td><a class="btn btn-primary" <%= link_to 'Back', sub_events_path %></a></td>
<br />


