<%= link_to "new event", new_event_path %>

<<<<<<< HEAD
<p>Test1</p>
=======
<br>
<br>
<br>
>>>>>>> d122cacb1e775c5c1b6d0919b46327f7f810aa63

<div id='calendar'></div>
	

<<<<<<< HEAD
<p>Test2<%= link_to "See a list of all the events", events_path%>
	</p>
=======
>>>>>>> d122cacb1e775c5c1b6d0919b46327f7f810aa63
