<p>Hello <%= @user%></p> 
<p>Your event has been created!</p>
<p>Event Details</p>
<p>Start Time : <%= @event.starts_at%><p>
<p>End Time : <%= @event.ends_at%><p>
<p>Event Description : <%= @event.description%><p>
