<h1>New event</h1>
<link rel="shortcut icon" type="image/x-icon" href="/assets/images/13173095-calendar-vector-icon.jpg">
<%= render 'form' %>


<td><a class="btn btn-primary" <%= link_to 'Back', events_path %></a></td>